/* CONTAINER */

.container{
    
        width: 1000px;
        border: 15px;
        padding: 30px;
        margin: auto;
      
}
/* AKHIR CONTAINER */
/* HALAMAN AWAL */
h1{
    
    text-align: center;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 4;
    color: #333333;
}

#search-box{

   display: inline-block;
   width: 850px;
   height: 9%;
   padding: 10px;
   font-size: 15px;
   


}
#search-button{
    display: inline-block;
    width: 120px;
    height:9%;
    background-color: whitesmoke;
    border:black solid 1px;
    position: relative;
    left: -3.8px;
    top: -1px;
}

#search-button:hover{
    background-color: pink;
}

.search{
    text-align: center;
}

.buat {
    line-height: 50px;
    text-align: center;
}

.buat a{
    
    color: black;
    text-decoration: none;
}

/* AKHIR HALAMAN AWAL */

/* HALAMAN BUAT LAPORAN */
.judulbuatlaporan{
    margin: auto;
    width: 970px;
    
}

#kolom-laporan{
    
    margin: auto; 
    padding: 10px;  
}

#dropdown-buat{
    
    width: 215px;
    height: 25px;
}

.lampiran{


}

#button-lapor{
    display: inline-block;
   float: right;
   background: white;
   text-decoration: none;
   border:black solid 1px;
   width:120px;
   height:50px;

}
