fieldset{
  height: 1000px;
}
.container{
  height: 500px;
  width: 500px;
}
.judul{
  text-align: center;
  color:rgba(0, 0, 0, 0.911);
  font-weight: bold;
}
ul.navbar {
  list-style-type: none;
  border-radius: 6px;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("Best-Gradient-Wallpaper.jpg");
  height:100px;
  line-height:50px;
  color:#fff;
  font-family: "Lucida Console", Lucida, monospace;
  text-align: center;
  
}
h6{
  text-align: center;
  color: aliceblue;
  font-family: "Lucida Console", Lucida, monospace;
}
li.navbar {
  float: left;
}

li.navbar a.navbar{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navbar:hover {
  background-color: #111;
}
li.navbar2 {
  float: right;
}
li.navbar2 a.navbar2{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navbar2:hover {
  background-color: #111;
}
ul.detail li.detail{
	list-style-type: none;
}
body{
  background-size:cover;
	background-attachment: fixed;
  font-family: "Lucida Console", Lucida, monospace;
  background-image: url("pngtree-streamline-gradient-colour-round-image_11755.jpg");
}

h1{
  color:white;
  text-align: center;
  font-weight: bold;
}
p{
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 13px;
}

h1{  
  font-family: "Lucida Console", Lucida, monospace;
	text-align: center;
  padding: 8px 8px;
  font-size: 50px;
  color: rgb(100,100,100);
}
h5{
  font-family: "Lucida Console", Lucida, monospace;
	text-align: center;
  padding: 5px 0px;
  font-size: 20px;
  color: rgb(100,100,100);
}
.buat{
	text-align: center;
  margin-top: auto;
  margin-bottom: 5%;
  text-decoration: none;
}
.buat a{
  text-decoration: none;
  color: #111;
  margin-top: 0px;
}
.tulisan{
	margin-left: 23%;
  margin-right: 23%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.tulisan2{
	margin-left: 23%;
  margin-right: 23%;
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: rgba(0,0,0,0.1);
}
.newshead{
  text-align: left;
  margin-top: 5%;
  padding: 2px 2px;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.tambah {
  border: 2px solid :black;
  align-items: center;
  font-size: 20px;
  
}

textarea{
  margin-left: 0cm;
  width: 100%;
  height: 200px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid: black;
  border-radius: 4px;
}
.aspek{
  margin-left: 1cm;
  height: 50px;

}
select{
  margin-left: 1cm;
  height: 30px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
}
.upload{
  margin-left: 2cm;
  height: 30px;
}
.tombol{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  color: #008B8B;	
  float: right;
  display: block;
  margin-left:10cm;
}
//* Bagian Detail *//
ul.isi{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 0cm;
  width: 100%;
  height: 200px;
  color:#fff;
  font-family: "Lucida Console", Lucida, monospace;
  text-align: center;
  float: center;
}
ul.isi li.isi{
  list-style-type: none;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  margin-left: 0cm;
  color:#fff;
  font-family: "Lucida Console", Lucida, monospace;
  text-align: center;
  float: center;
}
ul.isi a{
  color:#fff;
  text-decoration-color: white;
}
form {
  width:450px;
  margin:auto auto;
}
.search {
  padding:20px 109px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
.button {
  position:relative;
  padding:20px 20px;
  left:-10px;
  border:0px solid white;
  background-color:white;
  color:black;
  height: 50px;
}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}
      
::-webkit-input-placeholder { /* For WebKit browsers */
  color:    black;
        font-family:Helvetica Neue;
        font-weight:bold;
}
:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
  color:    black;
        font-family:Helvetica Neue;
        font-weight:bold;
}
::-moz-placeholder { /* For Mozilla Firefox 19+ */
  color:    black;
        font-family:Helvetica Neue;
        font-weight:bold;
}
:-ms-input-placeholder { /* For Internet Explorer 10+ */
  color:    black;
        font-family:Helvetica Neue;
        font-weight:bold;
}	  
#footer{
  height:100px;
  line-height:50px;
  background:red;
  color:#fff;
  font-family: "Lucida Console", Lucida, monospace;
  text-align: center;
}