body {
    font:15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.subcontainer{
    width: 60%;
    margin: auto;
    overflow: hidden;
}



.button_1 {
    height: 38px;
    background: #e8491d;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.button_2 {
    height: 38px;
    background: rgb(9, 102, 87);
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

ul{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background:#35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display : inline;
    padding : 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav {
    float :right;
    margin-top :10px;
}

header .highlight, header .current a {
    color : #e8491d;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/*Showcase*/
#showcase {
    min-height: 400px;
    background:url('../img/showcase.jpg') no-repeat;
    text-align: center;
    color: white;
}

#showcase h1 {
    margin-top:100px;
    font-size : 55px;
    margin-bottom:10px;
}
   
#showcase p {
    font-size:20px;
}

/*Search Box*/
#search-box {
    padding:15px;
    color: #ffffff;
    background:#35424a;
}


#search-box input[type="text"]{
    padding: 5px;
    height: 25px;
    width: 85%;
}

#search-box p {
    text-align: center;
}

/*Boxes*/
#boxes {
    margin-top :20px;
}

#boxes .box{
    text-align: left;
    float:left;
    width:30%;
    padding:10px;
}

footer{
    padding :20px;
    margin-top:20px;
    color : #ffffff;
    background-color: #e8491d;
    text-align: center;
}


/*Form Buat Laporan*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 1em;
    color: #e8491d;
    top: -2.25rem;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
   }
   
   .styled-input {
     float: left;
     width: 33.3333%;
     margin: 2rem 0 1rem;
     position: relative;
   }

   .styled-input-button{
    float: right;
  }
   
   .styled-input label {
     color: #999;
     padding: 1rem;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-transition: all 0.25s ease;
     transition: all 0.25s ease;
     pointer-events: none;
   }
   
   .styled-input.wide { width: 100%; }
   
   input,
   textarea {
     padding: 1rem 1rem;
     border: 0;
     width: 100%;
     font-size: 1rem;
   }
   
   input ~ span,
   textarea ~ span {
     display: block;
     width: 0;
     height: 3px;
     background: #e8491d;
     position: absolute;
     bottom: 0;
     left: 0;
     -webkit-transition: all 0.125s ease;
     transition: all 0.125s ease;
   }
   
   input:focus,
   textarea:focus { outline: 0; }
   
   input:focus ~ span,
   textarea:focus ~ span {
     width: 100%;
     -webkit-transition: all 0.075s ease;
     transition: all 0.075s ease;
   }
   
   textarea {
     width: 100%;
     min-height: 15em;
   }