<!DOCTYPE html>
<html lang="en">

<style>

.kolom-lapor {
      align: center; 
      width: 700px;
      height: 200px;
      padding: 10px;
      border: 1px black;
      margin-left: 300px;   
      background-color: pink;
    }

.kolom-lapor1{
      width: 700px;
      height: 50px;
      padding: 10px;
      border: 1px black;
      margin-left: 300px;   
      background-color: pink;
    }

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAPOR! ITERA</title>
</head>

<body>

<div>
   <label>LAPOR! ITERA</label>
    <a href="/home/">Tentang LAPOR!</a>
    <a href="/gallery/">Laporan</a>
    <a href="#"><button>Masuk</button></a>
    <a href="#"><button>Daftar</button></a>
    <form align = "right"><input class="search" type="text" placeholder="Cari Aduan" required></form>
</div>

<div class = "kepala">
<h1 align= "center">Layanan Aspirasi Online Masyarakat ITERA</h1>
<h3 align= "center">Sampaikan laporan Anda langsung kepada instansi kampus berwenang</h3>
<br>
</div>

<div class = "kolom-lapor">
<textarea type="text" name="laporan" rows="13" cols="97" placeholder="Test"></textarea>
</div>

<div class= "kolom-lapor1">
<li><button float="right;">Lapor!</button></li>
</div>

</body>
</html>