h1{
    padding: 25px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: normal;
}
.ketengah{
    margin: 10px auto;
    width: 1150px;
}
form {
    width:1000px;
    margin:50px auto;
}
.search {          
    padding:15px 15px; 
    background: transparent;
    border:2px solid #000000;
    width: 800px;
}
.button {
    position:relative;
    left:-4px;          
    padding:15px 50px; 
    border:2px solid #000000;          
    background-color: transparent; 
    color:#000000;
    font-weight:bold;
}
.button:hover {
    background: #fbff27;          
    color:#000000;
}
.button:active {
    background:#9ACD32;
}

p{
    text-align: center; 
    font-size: 15px;

}

.button2{
    background-image: url(button1.png);
    width: 20;
    height: 20;
}
