.kepala h1 {
	text-align: center;
}

.kepala h3 {
	text-align: center;
}

.kolom-lapor {
	align: center;
	width: 700px;
	height: 200px;
	padding: 10px;
	border: 1px black;
	margin-left: 300px;
	background-color: pink;
}

.kolom-lapor1 {
	width: 700px;
	height: 50px;
	padding: 10px;
	border: 1px black;
	margin-left: 300px;
	background-color: pink;
}
