.container {
	width: 800px;
	margin: auto;
}

.container .heading {
	justify-content: center;
	display: flex;
}

.container .heading h1 {
	text-align: center;
	margin-top: 50px;
}

.content {
	margin-left: 50px;
	margin-right: 50px;
}

.content .keterangan input {
	border: 0.5px solid #5f9ea0;
	padding: 4px;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif;
	margin-bottom: 10px;
	width: 200px;
}

.content .keterangan textarea {
	width: 100%;
	height: 250px;
	padding: 6px;
	border: 0.5px solid #5f9ea0;
}

.content .aspek select {
	padding: 6px;
	border: 0.5px solid #5f9ea0;
}

.content .file {
	padding: 6px;
	border: 0.5px solid #5f9ea0;
}

.content .lapor {
	float: right;
}

.content .lapor button {
	background: transparent;
	padding: 6px;
	color: whitesmoke;
	border: 0.5px solid #5f9ea0;
}
