#container{
    min-height: 600;
    position: relative;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background: papayawhip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 5%;
    margin-top: auto;
    text-decoration: none;
}

.wrap {
    min-height: 600;
    min-width: 600;
    position: relative;
}

.header{
    padding-left: 10px;
    line-height: 40px;
    position: relative ;
    background:rgb(61, 61, 99);
    color: #ffffff;
}
.konten{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    background:rgba(9, 112, 172, 0.658);
}

.footer{
    padding-left: 10px;
    line-height: 50px;
    background:rgb(61, 61, 99);
    color: #ffffff;
    position: relative ;
    bottom: 0px;
}

.h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

p{
    text-align: right;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
}

.p1{
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
}

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tomato;
    height: 100px;
    line-height: 50px;
    background: peachpuff;
    color:#fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}



/*buatLaporan.php*/

.upload{
    margin-left: 2cm;
    height: 30px;
  }
  .tombol{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: #008B8B;	
    float: center;
    display: block;
  }

.tambah{
    text-align: center;
    margin-top: auto;
    margin-bottom: 5%;
    background: #ffffff;
}
.cari{
    text-align: left;
    position: absolute;
    height: 40px;
    width: 700px;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
