/*id -> pagar
class -> titik
css buat index
*/
body{
	background: url('background/background_body.jpg');
	margin: 0px;
}
.header{
	background: #90EE90;
	height: 100px;
	width: 100%;
	position: fixed;
}

.header ul {
	list-style: none;
	float: left;
	padding-left: 100px;

}
#pilih{
	padding-left: 288px;
}
#cari{
	position: fixed;
	padding-left: 300px;
}

#cari input {

	height: 50px;
	width: 600px;

}

#cari button {

	height: 50px;
	width: 80px;

}
/*agar ul li nya menyamping*/
.header ul li{
	float: left;
	padding: 10px;/* mengatur jarak antar menu*/

}

/*khusus button*/
.header ul li button{
	float: left;
	padding: 8px;/* mengatur jarak antar menu*/

}

.header ul li a{
	text-decoration: none;  /*menghilangkan garis bawah saat diberi link*/

}

#login{
	padding-left: 1000px;
}

.clear{

	clear: both;
}
textarea{
	width: 700px;
	height: 370px;
}
#tombol{
    padding-left: 900px;
}

.content{
	width: 900px;
	height: auto;
	background: #90EE90;
	border: 1px solid;
}
.content a{
	text-decoration: none;
}
#tambah_laporan{
	padding-top: 60px;

}
#tambah_laporan img{
	width: 150px;

}
#nama{
	float: left;
	font-weight: 10px;
	font-size: 16px;
}
#lampiran{
	position: absolute;
}
#waktu{
	float: right;
	font-weight: 10px;
	font-size: 16px;
	padding-right: 40px;
}
#komentar a{
	text-decoration: none;
}
#komentar p{
	margin-left: 90px;
	margin-right: 20px;
	text-align: center;
}
h2{
	color: red;
}

h3{
	color: green;
}