	*{
		font-family: constantia;
	}

	body {
			font-family: constantia;
			margin: 80px;
			}

		body h1{
			text-align: center;
		}
		a{
			text-decoration: none;
			color: black;
		}
		label{
			text-align: left;
		}
		hr{
			border: 1px solid;
			color: black;
			width: 72%;
		}
		span{
			position: absolute;
			right: 1px;
		}
		p{
			width: 72%;
			position: relative;
			left: 165px;
		}
		label{
			position: relative;
			left: 165px;
		}