.container {
	width: 800px;
	margin: auto;
}

.kepala h1 {
	text-align: center;
	margin-top: 50px;
}

.kolom-lapor {
	width: 700px;
	height: 200px;
	padding: 10px;
	border: 1px black;
	background-color: pink;
}

.kolom-lapor1 {
	width: 700px;
	height: 50px;
	padding: 10px;
	border: 1px black;
	background-color: pink;
}
