.container {
	width: 900px;
	height: 800px;
	margin: auto;
	background-color: #5f9ea0;
}

.judul {
	text-align: center;
	margin-top: 20px;
}

.itm-title {
	width: 150px;
}

p {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
