.container {
	border: 1px solid green;
	padding: 10px;
	margin-left: 200px;
	margin-right: 200px;
	display: fix;
}

.container .log-reg {
	display: flex;
	justify-content: flex-end;
}

.container .log-reg a {
	padding: 4px;
	margin-right: 10px;
	border: 1px solid green;
	border-radius: 5px;
}

.container .heading-icon {
	display: flex;
	justify-content: center;
}

.container .heading-icon img {
	padding: 15px;
	width: 40px;
	height: 50px;
}

.container .nav-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: green;
	height: 30px;
	margin-bottom: 5px;
	color: whitesmoke;
	border: 2px solid yellowgreen;
	justify-content: space-between;
}

.container .nav-bar span {
	padding: 2px;
}

.container .nav-bar span p {
	margin-left: 10px;
	color: whitesmoke;
}

.container .nav-bar span a {
	margin-right: 10px;
	color: whitesmoke;
}

.container .nav-bar span a:hover {
	color: yellowgreen;
}

.container .log-reg a:hover {
	background: greenyellow;
	color: green;
}

.container h1 {
	text-align: center;
	color: green;
}

.container form {
	text-align: center;
}

.container form input {
	width: 300px;
	padding: 5px;
	border: 1px solid green;
	border-radius: 10px;
}

.container form button {
	background: transparent;
	width: 50px;
	padding: 5px;
	border: 1px solid green;
	border-radius: 10px;
}

.container form button:hover {
	background: greenyellow;
}

.container a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: green;
}

.container .laporan a {
	font-weight: bold;
	display: block;
	text-align: left;
	color: green;
}

.container a:hover {
	color: greenyellow;
}

.container hr {
	border: 1px solid green;
}

.container h3 {
	color: green;
}

.container .laporan .details {
	display: flex;
	justify-content: space-between;

}
