body {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	display: block;
	height: 100px;
	text-align: center;
}

#formcari {
	display: inline-block;
	width: 53%;
	height: 7%;
	border-style: solid;
	padding: 10px;
	font-size: 15px;
}

.tombolcari {
	display: inline-block;
	height: 9%;
	width: 7%;
	border : solid;
	position: relative;
	left: -6px;
	font-size: 20px;
}

.untukcari {
    text-align: center;
}

#textarea {
	resize:none;
 	width:790px;
  	height:200px;
}

#tombol {
	text-align: right;
}

.lapor {
    text-align: center;
	line-height: 50px;
}

.laporanterakhir {
	margin-left: 20vw;
    margin-right: 20vw;
    font-size: 15px;
    margin-bottom: 2vh;
    margin-top: -1vh;
    border: 1px solid white;
}

.buatlaporan {
	margin-left: 20vw;
    margin-right: 20vw;
    font-size: 15px;
    margin-bottom: 2vh;
    margin-top: -1vh;
    border: 1px solid white;
}

.lihatlaporan {
	margin-left: 20vw;
    margin-right: 20vw;
    font-size: 15px;
    margin-bottom: 2vh;
    margin-top: -1vh;
    border: 1px solid white;
}

.ubahlaporan {
	margin-left: 20vw;
    margin-right: 20vw;
    font-size: 15px;
    margin-bottom: 2vh;
    margin-top: -1vh;
    border: 1px solid white;
}

.but {
	float: right;
}

.back {
	text-align: center;
    display: inline-block;
	height: 9%;
	width: 5%;
	border: thin;
	border-radius: 5px;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10vw;
	left: -1px;
	font-size: 15px;
    background: lightgrey;
}