<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="style.css">
	<title>Tampilan Lapor</title>
</head>

<body>
	<header>
		<div class="container">
			<center>
				<h1>Simple Lapor!</h1>
			</center>
		</div>
	</header>
	<section id="buatlaporan">
		<div class="container">
			<h4>Buat Laporan/Komentar</h4>
			<hr>
		</div>
	</section>

	<section id="formbuatlaporan">
		<div class="container">
			<form action="" method="get">

				<textarea name="" id="" cols="100" rows="10" placeholder="Laporan/Komentar"></textarea>
				<br><br>
				<select name="" id="pilih">
					<option value="">Pilih Aspek Pelaporan/Komentar</option>
					<option value="">Dosen</option>
					<option value="">Staff</option>
					<option value="">Mahasiswa</option>
					<option value="">Infrastruktur</option>
					<option value="">Pengajaran</option>
				</select>
				<br>
				<br>
				<input type="file" name="" id="">
			</form>
			<br>
			<hr>
			<button type="submit" class="button-1">Search Now</button>
		</div>
	</section>
</body>

</html>
